:root {
  --main-color-blue: rgb(25, 146, 212);
  --second-clr-gray: rgb(226, 232, 240);
  --clr-cards : rgb(240,180,41);

  --br--redius: 2rem;
}


/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.7;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1;
}


/* -------------------------------------------------------------------------- */
/*                               Styling Project                              */
/* -------------------------------------------------------------------------- */
* {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* -------------------------------------------------------------------------- */
/*                                   SIDEBAR                                  */
/* -------------------------------------------------------------------------- */
.sidebar {
  background-color: var(--main-color-blue);
  color: white;
  fill: white;
  height: 100%;
  min-height: 38rem;
}

.logo {
  width: 40px;
}
.logo-div {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-size: .8rem;
  align-items: center;
}

.side-icons {
  width: 25px;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  margin-bottom: 2rem;
  display: grid;
  gap: .8rem;
  padding-left: 1rem;
}
.sidebar li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  font-weight: 600;
  padding: .5rem;
  
}


.selected-section {
  background-color: white;
  color: #00aaff;
  fill: #00aaff;
  border-top-left-radius: 1rem;
}

