/* -------------------------------- Home Page ------------------------------- */
.welcome-message {
  justify-self: center;
  margin-top: 2rem;
}
.shop-link {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  background: #00aaff;
  
}
/* ------------------------------- Orders Page ------------------------------ */
.orders {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.orders-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: auto;
  gap: 1rem;
}

.order-card {
  background: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
   display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-card h3 {
  margin: 0 0 10px;
}

.order-info {
  margin-bottom: 10px;
}

.products-list {
  margin-left: 20px;
  padding: 10px 0;
}

.download-btn , .delete-order {
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.download-btn {
  background: #00aaff;
}
.delete-order {
  background: red;
}

.delete-order:hover {
  background: rgb(220, 0, 0);
}

.download-btn:hover {
  background: #0088cc;
}


