:root {
  --bg-clr-black: #111010;
}

footer {
      text-align: center;
      padding: 20px;
      color: #777;
      font-size: 0.9em;
      border-top: 1px solid #222;
      margin-top: 80px;
      background-color: var(--bg-clr-black);
    }