:root {
    --cl-pr-blue: #00d8ff;
}

.container {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
}

h1 {
    display: flex;
    justify-self: center;
    margin-top: 1rem;
    background-color: var(--cl-pr-blue);
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.product-card {
    background: #1a1a1c;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #ffffff;
}

.product-info {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    min-height: 50px;
}

.product-info p {
    font-size: 0.9rem;
    color: #bbb;
    flex-grow: 1;
    margin-bottom: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.quantity label {
    font-size: 0.9rem;
    color: #ccc;
}

.quantity .quantity-selector {
    width: 60px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
    text-align: center;
    font-weight: 600;
}


.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00d8ff;
    margin-bottom: 10px;
}

.add-to-cart {
    background: linear-gradient(90deg, #00d8ff, #007bff);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s ease;
}

.add-to-cart:hover {
    background: linear-gradient(90deg, #00b4d8, #0056b3);
}

.added-to-cart {
    display: none;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.added-to-cart svg {
    width: 30px;
    fill: #007bff;
}

.added-to-cart-visible {
    display: flex;
}


.category-bar {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
}

.category {
    background-color: white;
    color: #00d8ff;
    border: 2px solid #00d8ff;
    border-radius: 25px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.category:hover {
    background-color: #00d8ff;
    color: white;
}

.category.active {
    background-color: #00d8ff;
    color: white;
}