.product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    margin: 2rem 5rem;
    
}

.big-img {
    width: 20rem;
}

.Product-added {
    display: none;
    justify-self: center;
    background-color: rgba(0, 250, 0, .4);
    padding: 1rem 5rem;
    margin-top: 2rem;
}